body {
	font-family: Arial;	
	font-size: 1em;
}

.class-block {
	background-color: #eee;
	margin-bottom: 20px;
	padding: 10px;	
}

th {
	text-align: left;
	padding-left: 6px;	
}

#buttons {
	float: right;	
}

input[type=text], select, input[type=submit] {
	font-size: 1em;	
}

form {
	width: 76%;	
	position: relative;
}

#toc {
	width: 20%;
	padding: 0 2%;
	position: fixed;
	top: 0;
	right: 0;
}

.drag-icon {
	background-image: url('../img/drag.png');
	background-position: 0px 5px;
	width: 16px;
	background-repeat: no-repeat;
	cursor: move;
}

.attribute-list tr th, .attribute-list tr td{
	border: 1px solid black;
}

.attribute-list tr .attribute {
	width: 30%;	
}

.attribute-list tr .identifier {
	width: 30%;	
}

.attribute-list tr .datatype {
	width: 30%;	
}

.attribute-list tr .required {
	width: 10%;	
}

.attribute-list tr td, .attribute-list tr th {
	padding-left: 6px;
	padding-right: 6px;
}